* {
    margin: 0;
    padding: 0;
}

.modal-dialog {
    max-width: 50% !important;
    margin-top: 30vh !important;
}

@media (max-width: 992px){
    .modal-dialog {
        max-width: 90% !important;
        margin-left: 5% !important;
    }
}